<!DOCTYPE html>
<html>
<head>
	<title>App de prueba</title>
	{% load static %}
    <link href="{% static 'theme/css/base.css' %}" rel="stylesheet">
</head>
<body>

	<h1>Esto es mi titulo</h1>
	<p>
		Todo lo que veas aqui es un parrafo con estilo cool
	</p>

</body>
</html>